/.vs
/HardwareRetroAchievements.Core.Tests/bin
/HardwareRetroAchievements.Core.Tests/obj
/HardwareRetroAchievements/bin
*.csproj.user
/HardwareRetroAchievements/obj
/LibHardwareRetroAchievements/bin
/LibHardwareRetroAchievements/obj

/HardwareRetroAchievements.Core/bin
/HardwareRetroAchievements.Core/obj
/HardwareRetroAchievements.Mock/bin
/HardwareRetroAchievements.Mock/obj
